Tests/Service References/OCTWebService/OCTWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="PushOffer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Offer" type="tns:Offer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Offer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AprimoOfferID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ContentItems" type="tns:ArrayOfOfferContent" />
          <s:element minOccurs="0" maxOccurs="1" name="OtherData" type="tns:ArrayOfData" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOfferContent">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OfferContent" nillable="true" type="tns:OfferContent" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OfferContent">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Data" nillable="true" type="tns:Data" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Data">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PushOfferResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PushOfferResult" type="tns:ActionResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ActionResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PushOfferSoap12In">
    <wsdl:part name="parameters" element="tns:PushOffer" />
  </wsdl:message>
  <wsdl:message name="PushOfferSoap12Out">
    <wsdl:part name="parameters" element="tns:PushOfferResponse" />
  </wsdl:message>
  <wsdl:portType name="OCTWebServiceSoap12">
    <wsdl:operation name="PushOffer">
      <wsdl:input message="tns:PushOfferSoap12In" />
      <wsdl:output message="tns:PushOfferSoap12Out" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OCTWebServiceSoap12" type="tns:OCTWebServiceSoap12">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PushOffer">
      <soap12:operation soapAction="http://tempuri.org/PushOffer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OCTWebService">
    <wsdl:port name="OCTWebServiceSoap12" binding="tns:OCTWebServiceSoap12">
      <soap12:address location="http://localhost:56743/WS/OCTWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>